li {
        width: calc(var(--width-center) - 26px);
        height: 23px;
        background-color: #f2f2f2;
        display: table;
        border: 1px solid #e4e4e4;
        border-radius: 3px;
        transition: background-color 0.3s;
        margin-bottom: 1px;
        padding: 0 0 0 24px;
        font-family: consolas;
        line-height: 22px;

        background-image: url(https://data.svdu.cz/svg/menu-3.svg);
        background-position: 1px 1px;
        background-size: 21px;
        aspect-ratio: 1/1;
        background-repeat: no-repeat;
}

ul {
        width: var(--width-center);
        padding: 0;
}