@media screen and (max-width: 1560px) {
        h1 {
                position: absolute;
                top: -2px;
                left: 169px;
                color: #3a3a3a;
                font-size: 1.1em;
        }

        :root {
                --nav-max: 1px !important;
        }

        .container {
                padding-top: 65px;
        }

        .elem-br {
                display: none;
        }
}

@media screen and (max-width: 1015px) {
        .navbar {
                padding: 0px 0px !important;
                top: auto !important;
                bottom: 0px;
                height: 43px !important;
                background-size: 57px 38px !important;
        }

        :root {
                --width-center: 100%;
        }

        .container {
                padding-top: 40px;

        }

        .input-box {
                top: 0px !important;
                padding: 10px 0px !important;
                background-color: white;
        }

        .in-search {
                width: calc(100% - 12px) !important;
        }

        ul {
                padding-bottom: 30px !important;
        }

        h1 {
                font-size: 1.1em !important;
                padding-left: 0px !important;
        }

        .btn {
                background-position: 2px -1px !important;
                padding: 14px 17px 14px !important;
                top: 5px !important;
                right: 10px !important;
        }

        .btn-text {
                display: none;
        }
}

@media screen and (max-width: 500px) {
        h1 {
                left: 100px;
        }
}

@media screen and (max-width: 400px) {
        h1 {
                top: -11px;
                left: 80px;
        }
}