body {
        background-color: #EEEEEE;
}

h1 {
        font-size: 1.5em;
        color: lightslategrey !important;
        position: absolute;
        top: 0px;
        left: 138px;
}

:root {
        --nav-min: 1px;
        --nav-max: 8px;
        --width-center: 760px;
}